---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import PaymentSolutions from '../components/PaymentSolutions.astro';
import SectionTwo from '../components/SectionTwo.astro';
import TheSolution from '../components/TheSolution.astro';
import LeadingTechnologies from '../components/LeadingTechnologies.astro';
import CaseStudies from '../components/CaseStudies.astro';
import Integration from '../components/Integration.astro';
import LegendarySupport from '../components/LegendarySupport.astro';
import Watchout from '../components/Watchout.astro';
import HowItWorks from '../components/HowItWorks.astro';
import BestPrice from '../components/BestPrice.astro';
import ThatsNotAll from '../components/ThatsNotAll.astro';
import Questions from '../components/Questions.astro';
import Overlay from '../components/Overlay.astro';
---

<Layout title="Welcome to Zenti.">
	<main>
		<PaymentSolutions/>
		<SectionTwo/>
		<TheSolution/>
		<LeadingTechnologies/>
		<CaseStudies/>
		<Integration/>
		<LegendarySupport/>
		<Watchout/>
		<HowItWorks/>
		<BestPrice/>
		<ThatsNotAll/>
		<Questions/>
		<Overlay/>
	</main>
</Layout>

<style>
</style>
