---
import { Image } from 'astro:assets';
import howItWorks1 from '../media/svg3/howItWorks1.svg'
---

<div>	
	<span class="">
		<Image src={howItWorks1} alt="developer"/>
	</span>
</div>
<style>
	
	@media screen and (max-width: 900px) {}
</style>
